//colors
$bg-color: #f4f5fa;
$searching-string-color: #ffffff;
$button-color: #223bdd;
$footer-bg-color: #e5e7f3;
$sun-color: #ffd788;

//font-colors
$header-fonts-color: #626d7a;
$footer-fonts-color: #626d7a;
$footer-fonts-color-h2: #252525;
$blue-fonts-color: #223bdd;
$main-fonts-color: #261313;
$rating-fonts-color: #f2af05;
$button-fonts-color: #ffffff;
$old-price-fonts-color: #9aa2b4;
$number-of-reviews-color: #9aa2b4;
$number-of-sales-fonts-color: #9aa2b4;
$name-of-products-fonts-color: #252525;

//size
$small-container: 390px;
$medium-small-container: 768px;
$medium-container: 1.024px;
$large-small-container: 1.44px;
$large-medium-container: 1920px;


