//colors
$bg-color: #F4F5FA;
$searching-string-color: #FFFFFF;
$button-color: #223BDD;
$footer-bg-color: #E5E7F3;

//font-colors
$header-fonts-color: #626D7A;
$footer-fonts-color: #626D7A;
$blue-fonts-color: #223BDD;
$main-fonts-color: #252525;
$rating-fonts-color: #F2AF05;
$button-fonts-color: #FFFFFF;
$old-price-fonts-color: #9AA2B4;
$number-of-reviews-color: #9AA2B4;
$number-of-sales-fonts-color: #9AA2B4;
$name-of-products-fonts-color: #252525;

//size
$small-container: 390px;
$medium-small-container: 768px;
$medium-container: 1.024px;
$large-small-container: 1.440px;
$large-medium-container: 1920px;
